html {
  font-size: 10px;
  background: url('images/whiplash.png');
  background-size: cover;
  background-position: bottom center;
}
.keys {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.key {
  color: white;
  text-align: center;
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 5px;
  width: 20%;
  transition: all .05s ease;
}
kbd {
  display: block;
}
.sound {
  font-size:  1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: white;
}
.playing {
  transform: scale(1.2);
  border-color:#E2AB2E;
  box-shadow: 0 0 3px white;
}
